/* #navbar{
    flex-direction: row;
}

#navbar .left{
    font-size: 2rem;
}

#navbar ul{
    display: block;
} */

#home{
    min-height: 85vh;
}

#about{
    min-height: 93vh;
}

#projects{
    min-height: 93vh;
}

#projects .prev{    /* for previews of my webdev projects */
    height: 16vh;
    width: 64vw;
    padding: 2vh;
}

#connect{
    min-height: 93vh;
}